

<h1>Stupid Coach</h1>
<p>Ask your coach anything!</p>

<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Write something">
  <input type="submit" class="button">
</form>

